@tailwind base;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

@layer utilities {
  .scroller {
    /* First value == scrollbar-thumb . Second value == crollbar-track */
    scrollbar-color: var(--active-primary) var(--active-secondary);
    scrollbar-width: thin;
  }
}
