@tailwind base;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: theme(colors.blue-800);
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.pink-500);
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme(colors.green-600);
  }
}

@layer utilities {
  /* [Vendor Support]: Firefox  */
  .scrollbar {
    scrollbar-color: theme(colors.green-600) theme(colors.primary-white);
    scrollbar-width: thin;
  }
}
