@tailwind base;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: theme(colors.neutral-white);
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.secondary-dark);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme(colors.secondary-base);
  }
}

@layer utilities {
  /* [Vendor Support]: Firefox  */
  .scrollbar {
    scrollbar-color: theme(colors.secondary-dark) theme(colors.neutral-white);
    scrollbar-width: thin;
  }
}
