@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO [project-requirement] 
 Config a reset css
*/
body {
  margin: 0;
  line-height: inherit;
  background-color: antiquewhite;
}

:root,
body,
html {
  height: 100%;
  overflow: auto;
}

/* Global CSS files are inserted here */
@import "../domain/shared/styling/scrollbar.css";
@import "../domain/shared/styling/shadow-container-scroll.css";

@layer base {
  .y-global-spacing {
    @apply px-4 md:px-8 lg:px-12;
  }
}
