@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO [project-requirement] 
 Config a reset css
*/
body {
  margin: 0;
  line-height: inherit;
  background-color: antiquewhite;
}

:root,
body,
html {
  height: 100%;
}

/* Global CSS files are inserted here */
@import "../domain/shared/styling/scrollbar.css";
@import "../domain/shared/styling/shadow-container-scroll.css";

@layer base {
  :root {
    --primary-black: 0 0 0;
    --primary-white: 255 255 255;
    --primary-base: 214 12 78;
    --primary-dark: 187 34 83;
    --secondary-base: 13 120 160;
    --secondary-dark: 0 17 44;
    --light-gray: 144 143 143;
    --light-green: 91 180 148;
    --pink-100: 255 209 202;
    --green-600: 37 68 65;
    --orange-400: 255 111 89;
    --pink-500: 214 12 78;
    --blue-green-300: 106 155 150;
    --red-700: 187 34 83;
    --blue-800: 0 17 44;

    --app-primary-color: #ffd1ca;
    --app-secondary-color: #d60c4e;
  }
}
